<div class="cart-container">
  <div class="cart-container__empty" *ngIf="orders.productOrders.length === 0">
    Your cart is empty.
  </div>
  <div class="cart-container__list" *ngIf="orders.productOrders.length > 0">
    <header class="list-header">
      <h2>Cart</h2>
    </header>
    <div
      class="list-item"
      *ngFor="let order of orders.productOrders; index as i"
      [ngStyle]="{ border: i === orders.productOrders.length - 1 && 'none' }"
    >
      <div class="list-item__remove" (click)="removeCartItem(order.product.id)">
        X
      </div>
      <div class="list-item__image">
        <img [src]="order.product.pictureUrl" alt="" />
      </div>
      <div class="list-item__details">
        <div class="title">{{ order.product.name }}</div>
        <div class="price">{{ order.product.price| currency: "CAD" }}</div>
        <div class="cta">
          <input type="number" min="0" class="form-control"
            [(ngModel)]="order.quantity" name="quantity" #quantity="ngModel">&nbsp;
             <!--<button mat-button color="primary" (click)="updateCart(order.product.id, quantity.value)" [disabled]="order.quantity <= 0">-->
            <div class="button" *ngIf="quantity.value > 0">
              <button mat-button color="primary" (click)="updateCart(order.product.id, quantity.value)">
                Update Cart
              </button>
            </div>
            <div class="button" *ngIf="quantity.value === 0">
              <button mat-button color="primary" (click)="removeCartItem(order.product.id)">
                Remove From Cart
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-container__total">
    <div class="price">
      <span>
        <h3>Total amount</h3>
        <h2>{{ totalPrice | currency: "CAD" }}</h2></span
      >
      <span>
        <h3>Total items</h3>
        <h2>{{ cartCount }}</h2>
      </span>
    </div>
    <div class="cta">
      <button
        nz-button
        nzType="primary"
        routerLink="/checkout"
        [disabled]="orders.productOrders.length === 0"
      >
        Checkout
      </button>
      <button nz-button routerLink="/">Back to shopping</button>
    </div>
  </div>
</div>

